<!DOCTYPE html>
<html>
<title>Detail Message</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <div class="w3-container">
  <div class="w3-panel w3-border w3-light-grey w3-round-large">
  <h2 class="display-3">Message</h2>
  <p class="lead"><i>Sent to:</i> {{Message_detail.to_user}}</p>
  <p class="lead"><i>Subject:</i> {{Message_detail.title}}</p>
  <p class="lead"><i>Description:</i>{{Message_detail.description}}</p>
</div>
</div>


</form>
</body>
</html>
